*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navcontainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    background-color: rgb(8, 6, 3);
    
}
.navcontainer img {
    width: 150px;
    height: 130px;
    border-radius: 25%;
    margin-right: 15em;
}
.linkcontainer , .linkcontainer a{
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    text-decoration: none;
    color: darkorange;
}
.navv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(3, 3, 3);
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}


